@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, serif;
}

body {
  background-color: #000;
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1;
  transition: all 0.6s;
}

header.sticky {
  padding: 5px 100px;
  background-color: #f4f4f4;
}

header.sticky .logo,
header.sticky ul li a {
  color: #141313;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #ca3804;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #f4f4f4;
  letter-spacing: 2px;
  font-weight: 500;
  transition: all 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("bg.jpg");
  background-size: cover;
}

.about {
  position: relative;
  padding: 75px;
  width: 100%;
  height: 100vh;
  background: url("bg2.jpg");
  background-size: cover;
}

section h2 {
  font-size: 3em;
  margin: 0;
  padding: 0 0 20px;
  color: #f4f4f4;
}

section p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}
