@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --bg-menu-active: #39665b;
  --bg-menu-hover: #194b3e;
  --bg-menu: #2b343b;
  --bg-page: #34383b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-page);
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1;
  background-color: var(--bg-menu);
}
.navigation__lists {
  border-left: 10px solid var(--bg-menu-active);
  position: absolute;
  top: 80px;
  right: -200px;
  width: 200px;
  height: 90vh;
  list-style: none;
  background-color: var(--bg-menu);
  border-bottom-left-radius: 40%;
  z-index: 2;
  transition: all 0.5s;
  overflow: hidden;
}

.navigation__list.active .navigation__link::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -15px 15px 0 var(--bg-menu-active);
}
.navigation__list.active .navigation__link::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -15px -15px 0 var(--bg-menu-active);
}
.navigation__list:hover .navigation__link::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -15px 15px 0 var(--bg-menu-hover);
}
.navigation__list:hover .navigation__link::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -15px -15px 0 var(--bg-menu-hover);
}

.show {
  right: 0;
}
.nav__toggle {
  color: #eee;
  display: block;
  min-width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.navigation__list.active {
  background-color: var(--bg-menu-active);
}

.navigation__list:hover {
  background-color: var(--bg-menu-hover);
}

.navigation__link,
.navigation__logoLink {
  position: relative;
  width: 100%;
  display: block;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation__logoLink {
  align-items: center;
  flex-direction: row;
}
.navigation__icon,
.navigation__logoIcon {
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation__icon ion-icon,
.navigation__logoIcon ion-icon {
  font-size: 1.5em;
  z-index: 1;
}
.navigation__title,
.navigation__logoTitle {
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
.wrap {
  padding: 10px;
  margin: 80px 10px;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-align: justify;
  color: #fff;
}

@media screen and (min-width: 700px) {
  .navigation {
    position: fixed;
    top: 0;
    width: 70px;
    height: 100vh;
    flex-direction: column;
    padding: 15px 0px;
    box-shadow: 10px 0 0 var(--bg-menu-active);
    overflow: hidden;
    transition: width 0.5s;
  }
  .nav__toggle {
    display: none;
  }
  .navigation:hover {
    width: 300px;
  }
  .navigation__lists {
    border: none;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    border-bottom-left-radius: 0;
    z-index: auto;
    transition: all 0.5s;
    display: block;
  }
  .navigation__lists,
  .navigation__logo {
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
  }

  .navigation__list {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .navigation__list.active {
    background-color: var(--bg-menu-active);
  }

  .navigation__list.active .navigation__link::before {
    right: 0;
    left: auto;
    box-shadow: 15px 15px 0 var(--bg-menu-active);
  }
  .navigation__list.active .navigation__link::after {
    right: 0;
    left: auto;
    box-shadow: 15px -15px 0 var(--bg-menu-active);
  }

  .navigation__list:hover {
    background-color: var(--bg-menu-hover);
  }

  .navigation__list:hover .navigation__link::before {
    right: 0;
    left: auto;
    box-shadow: 15px 15px 0 var(--bg-menu-hover);
  }
  .navigation__list:hover .navigation__link::after {
    right: 0;
    left: auto;
    box-shadow: 15px -15px 0 var(--bg-menu-hover);
  }
  .navigation__logoLink {
    flex-direction: column;
  }

  .navigation__logoTitle {
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s;
  }

  .navigation:hover .navigation__logoTitle {
    opacity: 1;
    transform: scale(1);
    transition: all 1s;
  }
  .navigation:hover + .wrap {
    padding-left: 320px;
    transition: all 0.5s;
  }
  .wrap {
    padding-left: 90px;
    padding-right: 10px;
    margin: 10px;
    transition: all 0.5s;
  }
}
