@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif, serif;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
header {
	display: flex;
	background-color: #222831;
	justify-content: space-around;
	padding: 1rem 0;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}
.logo ion-icon {
	font-size: 30px;
	margin: 10px;
	color: red;
}
.header__logo {
	color: #eee;
	font-weight: 600;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item {
	margin: 0 8px;
}

.nav__link {
	padding: 10px;
	color: #eee;
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 5px;
}
.nav__link:hover {
	background-color: #00adb5;
}

.header__toggle,
.header__close {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 768px) {
	header {
		height: 48px;
		justify-content: space-between;
		padding: 0 28px;
	}
	.header__logo {
		font-size: 0.9rem;
	}
	.logo ion-icon {
		font-size: 40px;
	}

	.header__toggle {
		display: inline;
		color: #eee;
		font-size: 24px;
	}
	.header__close {
		position: absolute;
		right: 24px;
		display: block;
		color: #eee;
		font-size: 24px;
		border-radius: 50%;
	}
	.header__close:hover {
		background-color: #00adb5;
	}
	.nav {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: #222831;
		color: #eee;
		width: 40%;
		height: 100vh;
		padding: 24px 0;
		z-index: 100;
		transition: 0.5s;
		border-radius: 0 0 0 50%;
	}
	.nav__list {
		display: flex;
		flex-direction: column;
	}
	.nav__item {
		margin: 2rem 0;
	}
	.show {
		right: 0;
	}
}
